<div class="container center_div">
	<div class="jumbotron" >
		<form class="example-form" [formGroup]="credentialForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <br/>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <br/>
  <br/>
  &nbsp;&nbsp;
  <button class="btn btn-primary" mat-raised-button routerLink="profile">Login</button>
  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
   <button class="btn btn-primary" routerLink="register" mat-raised-button>Register</button>
</form>
	</div>
	
</div>
