<!-- <div class="bg" >
<div class="container  " >
  <div class="card">
    <form class="example-form" [formGroup]="credentialForm" (submit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <br/>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
      <br/>
      <br/>
      
      <br/>
      <br/>
      &nbsp;&nbsp;
      <button class="btn btn-primary" mat-raised-button >Login</button>
      &nbsp;&nbsp;
      <button type='button' class="btn btn-primary" [routerLink]="['/register',{url:nullurl}]" mat-raised-button>Register</button>
    </form>
  </div>
</div>
</div> -->

<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div>Wise<span>Connect</span>
  </div>
  <p><i>....where wise people connect</i></p>
</div>
<br>
<div class="container alert alert-light" style='color:#30458b; text-align: center' *ngIf="isRegistered()">Thankyou for registering. You will be notified soon!</div>
<div class="login">
  <form class="example-form" [formGroup]="credentialForm" (submit)="onSubmit($event)">
    <input type="text" placeholder="Username" formControlName="username">
    <br>
    <input type="password" placeholder="Password" formControlName="password">
    <br>
    <br>
    <mat-radio-group class="example-radio-group" formControlName="role">
      <mat-radio-button class="example-radio-button" value="Employee">Employee </mat-radio-button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-radio-button class="example-radio-button" value="Admin">Admin</mat-radio-button>
    </mat-radio-group>
    <br>
    <div class="alert alert-danger makeSmall" *ngIf="isInvalid()">Invalid</div>
    <input type="submit" value="Login">
    <br>
    <input type='button' class="btn btn-primary" [routerLink]="['/register',{url:nullurl}]" value="Register">
  </form>
</div>