
<br/>
<br/>
<div class="container">

	<!--       <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div> -->
	<div class="row">

		<div class="col-md-6">
			<img class="img-fluid" src="http://placehold.it/750x500" alt="">
		</div>

		<div class="col-md-6">
			<h3 class="my-3">subham</h3>
			<h5 class="my-3">Trainee Analyst at Wissen Infotech</h5>
			<h4>Summary</h4>
			<p>I am a determined individual who always looks to broaden his
				career paths.I am a progressive thinker & respect each person’s
				space & values.I am open to new challenges and willing to work hard
				to reach my goals.I enjoy contributing new ideas .I am self
				motivated and a team player and understand the importance</p>
			<!-- <h3 class="my-3">Project Details</h3>  -->
			<!-- <ul>
            <li>Name: Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul> -->
		</div>

	</div>
	<br />
	<!--  <h3 class="my-4">Related Projects</h3> -->

	<div class="row">

		<div class="col-md-8 col-sm-6 mb-4">
			<button type="button" class="btn btn-primary">Edit Profile
				Section</button>
		</div>


	</div>

	<div class="row">

		<div class="card">
			<div class="card-header"><h5 class="card-title">Education</h5></div>
			<div class="card-body">
				<h5 class="card-title">Graduation</h5>
				<p class="card-text">I am a determined individual who always looks to broaden his
				career paths.I am a progressive thinker & respect each person’s
				space & values.I am open to new challenges and willing to work hard</p>
				
			</div>
			<div class="card-body">
				<h5 class="card-title">Matriculation</h5>
				<p class="card-text">I am a determined individual who always looks to broaden his
				career paths.I am a progressive thinker & respect each person’s
				space & values.I am open to new challenges and willing to work hard</p>
				
			</div>
			<div class="card-body">
				<h5 class="card-title">Intermediate</h5>
				<p class="card-text">I am a determined individual who always looks to broaden his
				career paths.I am a progressive thinker & respect each person’s
				space & values.I am open to new challenges and willing to work hard</p>
				
			</div>
		</div>
        
	</div>
      <br/>
    	<div class="row">

		<div class="card">
			<div class="card-header"><h5 class="card-title">Skills</h5></div>
			<div class="card-body">
				<h5 class="card-title">Graduation</h5>
				<p class="card-text">I am a determined individual who always looks to broaden his
				career paths.I am a progressive thinker & respect each person’s
				space & values.I am open to new challenges and willing to work hard</p>
				
			</div>
			
		</div>
        
	</div>
</div>

<!-- <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
     
    </footer> -->




