<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>ProfileLink</th>
			<th>Accept</th>
			<th>Reject</th>
		</tr>
	</thead>
	<tbody *ngFor="let employee of pendingEmployeeDetails">
		<tr>
			<td>{{employee.id}}</td>
			<td>{{employee.firstName}}</td>
			<td>{{employee.lastName}}</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm" (click)="viewProfile(employee.id)">Profile</button>
			</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm" (click)="acceptEmployee(employee.id)">Accept</button>
			</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm" (click)="rejectEmployee(employee.id)">Reject</button>
			</td>
		</tr>
	</tbody>
</table>
<router-outlet></router-outlet>