<br/>
<div class="container target">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="">Wissen</h1>

			<br>
		</div>
		<div class="col-sm-2 container">
			<img src="images/ninad.JPG" class="img-fluid" alt="profile pic">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item text-muted" contenteditable="false">Profile</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Joined</strong></span></li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Last seen</strong></span> Yesterday</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Real name</strong></span> Joseph Doe</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Role: </strong></span> Pet Sitter</li>
			</ul>


		</div>
		
		<div *ngIf='!isEmployee()' class="col-sm-9" contenteditable="false" >
			<br /> <br />
			<button type="button" class="btn btn-success" routerLink="/profile/pendingApproval">Pending Approvals</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  routerLink="/profile/table">View Employees</button>
			<br/>
			<br/>
			<router-outlet></router-outlet>
		</div>
		
		<div *ngIf='isEmployee()' class="col-sm-9" contenteditable="false" >
			<br /> <br />
			<button type="button" class="btn btn-success" [routerLink]="['/profile-info',{p1:employeeUrl}]">View Profile</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  routerLink="">Edit Profile</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  routerLink="">List of Reportee</button>
			<br/>
			<br/>
			<router-outlet></router-outlet>
		</div>
		


		<div id="push"></div>
	</div>


	

</div>