<!-- <div class="body"></div> -->
<br/>
<div class="container target">
	<div class="row">
		<div class="col-sm-10">
			<h1 style="color:#ffffff">Wissen</h1>
			<br>
		</div>
	
	</div>
	<br>
	<div class="row">
		<div class="col-sm-3">
			<ul class="list-group">
				<li class="list-group-item text-right" contenteditable="false"><span class="pull-left"><strong
					class="">Profile</strong></span>Admin</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Username</strong></span>{{empId}}</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong
						class="">Role: </strong></span>{{role}}</li>
			</ul>
		</div>
		
		<div *ngIf='isAdmin()' class="col-sm-9" contenteditable="false" >
			<br /> <br />
			<button type="button" class="btn btn-success" routerLink="pendingApproval">Pending Approvals</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  [routerLink]="['table',{type:'employees'}]">View Employees</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info" *ngIf="isSuperAdmin()"  routerLink="view-admins">View Admins</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info" *ngIf="isSuperAdmin()"  routerLink="add-admins">Add Admin</button>
			<br/>
			<br/>
			<router-outlet></router-outlet>
		</div>
		
		<div *ngIf='isEmployee()' class="col-sm-9" contenteditable="false" >
			<br /> <br/>
			<button type="button" class="btn btn-success" [routerLink]="['profile-info']">View Profile</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  [routerLink]="['register']">Edit Profile</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-info"  [routerLink]="['../reportees',{type:'reportees'}]">List of Reportee</button>
			<br/>
			<br/>
			<router-outlet></router-outlet>
		</div>
		<div id="push"></div>
	</div>
</div>