<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>ProfileLink</th>
		</tr>
	</thead>
	<tbody *ngFor="let employee of employeeCredentials">
		<tr>
			<td>{{employee.id}}</td>
			<td>{{employee.firstName}}</td>
			<td>{{employee.lastName}}</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/profile/table/profile-info',{p1:employee.id}]" >ViewProfile</button>
			</td>
		</tr>
	</tbody>
	
</table>
<router-outlet></router-outlet>